@import '../mixins';
@import '../variables';
@import '../functions';

.wrapper {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
  height: auto;
}

.image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: $largeScreen) {
  .wrapper {
    border-radius: sizeVW(30);
  }
}

@media screen and (max-width: $maxMobile) {
  .wrapper {
    border-radius: 20px;
  }
}
