@import '../../functions';
@import '../../variables';
@import '../../mixins';

.image {
  margin-bottom: 30px;

  width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.title {
  margin-bottom: 12px;

  color: $dark;
  font-size: 28px;
  line-height: 110%;
}

.description {
  margin-bottom: 40px;
  color: $dark;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.4;
}

.avatar {
  color: $dark;
}

.imageContainer {
  position: relative;
  margin-left: auto;

  min-width: 223px;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;

  border-radius: 20px;
  overflow: hidden;
}

@media screen and (min-width: $largeScreen) {
  .image {
    margin-bottom: sizeVW(30);
  }

  .title {
    margin-bottom: sizeVW(12);
    font-size: sizeVW(28);
  }

  .description {
    margin-bottom: sizeVW(40);
    font-size: sizeVW(16);
  }
}

@media screen and (min-width: $maxMobile){
    
}