@import '../../../variables';
@import '../../../mixins';
@import '../../../functions';

.form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 26px;
  width: 100%;
  max-width: 488px;
}

.labelBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.label {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.labelAccent {
  color: $red;
}

.input {
  margin-top: 10px;
}

.containerClass {
  margin-top: 10px !important;
  display: flex;
  gap: 12px;
}

.inputClass {
  position: static !important;
  padding: 13px 16px !important;
  order: 2;

  width: 100% !important;
  height: 48px !important;
  border-radius: 6px !important;

  background-color: $lightGrey !important;
  border-color: transparent !important;
  font-family: inherit !important;
}

.buttonClass {
  position: static !important;
  padding: 13px 16px !important;

  height: 48px !important;
  width: 123px !important;
  border-radius: 6px !important;

  background-color: $lightGrey !important;
  border-color: transparent !important;
  font-family: inherit !important;
}

.inputClass::placeholder {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
  color: $grey !important;
}

.phoneInput {
  display: flex;
  height: 48px;
}

.submitBtn {
  margin-top: 14px;
}

@media screen and (min-width: $largeScreen) {
  .form {
    gap: sizeVW(26);
    max-width: sizeVW(488);
  }

  .labelBox {
    gap: sizeVW(12);
  }

  .label {
    font-size: sizeVW(12);
    line-height: sizeVW(12);
  }

  .input {
    margin-top: sizeVW(10);
  }

  .containerClass {
    margin-top: sizeVW(10) !important;
    gap: sizeVW(12);
  }

  .inputClass {
    padding: sizeVW(13) sizeVW(16) !important;

    height: sizeVW(48) !important;
    border-radius: sizeVW(6) !important;
  }

  .buttonClass {
    padding: sizeVW(13) sizeVW(16) !important;

    height: sizeVW(48) !important;
    width: sizeVW(123) !important;
    border-radius: sizeVW(6) !important;
  }

  .inputClass::placeholder {
    font-size: sizeVW(16) !important;
    line-height: sizeVW(22) !important;
  }

  .phoneInput {
    height: sizeVW(48);
  }

  .submitBtn {
    margin-top: sizeVW(14);
  }
}

@media screen and (max-width: $maxMobile) {
  .form {
    gap: 24px;
    max-width: 100%;
  }

  .labelBox {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .submitBtn {
    margin-top: 24px;
    width: 100%;
  }
}
